.navbar {
  font-family: Major Mono Display, monospace;
  background-color: #27c918;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-item a.active {
  border-bottom: 2px solid white;
}
